<!DOCTYPE html>
<html>
<frameset rows="10%,10%,75%,5%">
   <frameset cols="20%,*">
  <frame name="topleft" scrolling="no" src="C:\Users\user\Desktop\styles\logoleft.html" frameborder="0" >
  <frame src="C:\Users\user\Desktop\styles\heading.html" frameborder="0" scrolling="no">
 
   </frameset>
  
  <frameset cols="20%,*,18%">
  <frame src="C:\Users\user\Desktop\styles\user.html" frameborder="0">
  <frame src="C:\Users\user\Desktop\styles\blank.html" frameborder="0">
  <frame src="C:\Users\user\Desktop\styles\logout.html" frameborder="0" scrolling="no">
   </frameset>
   
   <frameset cols="20%,*">
  <frame src="C:\Users\user\Desktop\styles\actions.html" frameborder="0">
  <frame name="middleright" scrolling="no" src="C:\Users\user\Desktop\styles\background.html" frameborder="0" >
  
   </frameset>
   
   <frameset cols="80%,*">
  
  <frame src="C:\Users\user\Desktop\styles\blank.html" frameborder="0">
  <frame src="C:\Users\user\Desktop\styles\blank.html" frameborder="0">
   </frameset>
 </frameset>
</html>